/*============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*============== VARIABEL CSS ===============*/
:root{
    --header-height: 3rem;



    /*============== COLORS ===============*/
    --first-color: #2e4471;
    --first-color-alt: #1d335f;
    --tittle-color: #393939;
    --text-color: #707070;
    --text-color-light: #a6a6a6;
    --body-color: #fbfafd;
    --container-color: #fff; 

    /*============== FONT AND TYPOGRAPHY ===============*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*============== Font weight ===============*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*============== Margins ===============*/
    --mb-1: .4rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*============== z index ===============*/
    --z-tolltip: 10;
    --z-fixed: 100;
}

@media screen and (min-witdh : 768px){
    --root{
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
    
/*============== BASE ===============*/
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


/*============== Variabel Dark Theme ===============*/


/*============== Button Dark/light  ===============*/


body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}


h1, h2, h3, p, ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}
/*============== class css ===============*/
.section{
    padding: 4rem 0 2 rem;
}

.section-tittle, .section-subtittle{
    text-align: center;
}

.section-tittle{
    font-size: var(--h1-font-size);
    color: var(--tittle-color);
    margin-bottom: var(--mb-3);
}

.section-subtittle{
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}
/*============== Layout ===============*/
.bd-container{
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}


.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}
/*============== NAV ===============*/
.nav{
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .nav_menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition: .4s;
        box-shadow: 0 4px 4px rgba(0,0,0,.1 );
        border-radius: 0 0 1rem 1rem;
        z-index: var(--z-fixed);
    }
}

.nav_item{
    margin-bottom: var(--mb-2);
}

.nav_link, .nav_logo, .nav_toggle{
    color: var(--text-color);
    font-weight: var(--font-medium);
}

.nav_logo:hover{
    color: var(--first-color);
}

.nav_link{
    transition: .3s;
}

.nav_link:hover{
    color: var(--first-color)
}

.nav_toggle{
    font-size: 1.3rem;
    cursor: pointer;
}
/* SHOW MENU */
.show-menu{
    top: var(--header-height);
}

/* ACTIVITY MENU */


/* change backgroun header */


/* Scroll top */


/* Show scrolltop */


/*============== HOME ===============*/



/*============== BUTTONS ===============*/



/*============== ABOUT ===============*/




/*============== DETAIL ===============*/




/*============== SERVICE ===============*/



/*============== PRODUCT ===============*/



/*============== SIZE CHART ===============*/



/*============== CONTACT ===============*/



/*============== FOOTER ===============*/



/*============== MEDIA QUERIES ===============*/



/* FOR TALL SCREEN ON MOBILE Y DESKTOP */